
/* FOOTER */

.footer-distributed{
    /* background: #ff1212; */
    font-family: 'Open Sans', sans-serif !important;

    background-color: #6e9366;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    display: block;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
  }
  
  .footer-distributed * {
    color: #fff !important;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
      font-family: 'Open Sans', sans-serif !important;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      width: 25%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
      font: normal 36px 'Open Sans', cursive;
      margin: 0;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    margin: 20px 0 12px;
    padding: 0;
    text-decoration: none !important;
    font-weight: 400 !important;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none !important;
    font-weight: 400 !important;
    color:  inherit;
  }
  
  a[href^="tel:"],
  a[href^="mailto:"] {
    text-decoration: none;
    font-weight: 400;
  }
  
  .footer-distributed .footer-company-name{
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }

  .footer-distributed .poweredBy{
    background-image: url("/images/powered.png"); 
    background-size: contain;
    width: 229px;
    height: 75px;
    margin-left: 6em;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
      width: 42%;
  }
  
  .footer-distributed .footer-center i{
    background: #ff1212;
    color: #ffffff;
    font-size: 20px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
    font-weight: 400;
      vertical-align: middle;
    margin: 0;
    max-width: 160px;
  }
  
  .footer-distributed .footer-center p span{
      display: block;
      font-weight: normal;
      font-size: 14px;
    line-height: 2;
    overflow: visible;
    white-space: nowrap;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
      width: 28%;
  }

  .footer-distributed .footer-right i {
    font-size: 20px;
    }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      font-size: 14px;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-company-about-header{
      font-weight: 600;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background: #ff1212;
      border-radius: 2px;
  
      font-size: 20px;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }
  
  @media (max-width: 767px) {
  
      .footer-distributed{
          font-size: 14px !important;
      }
  
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
          display: block;
          width: 100%;
          margin-bottom: 20px;
          text-align: center;
      }
  
      .footer-distributed .footer-center i{
        margin-left: 0;
        margin-right: 6px;
      }

      .footer-distributed .footer-right i {
        font-size: 22px;
        }

      .footer-distributed .poweredBy{
        margin: 0 auto;
      }
  
  }
  
  @media (min-width: 1600px) {
    .footer-distributed{
      padding: 20px 20vw;
    }
  }