

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);


* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 1.4em;
}


html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f6;
  display: block !important;
  width: 100%;
  font-size: 18px !important;
  line-height: 26px; 
  color: #3e4543;
  box-sizing: border-box;
}

#root{
  width: 100%;
  display: block;
}


h1.loading {
  font-size: 80px;
  line-height: 1.4em;
  margin: 0 auto 400px;
  text-align: center;
  font-weight: 500;
  color:red;
  font-family: 'Fondamento';
}

h2 {
  font-size: 24px;
  line-height: 1.4em;
  font-weight: 500;
  color: #253c64;
}

h3 {
  margin: 20px 0 10px;
  font-weight: 500;
}

button {
  display: block;
  color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  width: 100%;
  height: 40px;
  outline: none;
  cursor: pointer;
  transition: all 0.15s ease;
}

.Feed img {
  width: 20vw;
  max-width: 300px;
  margin: 4px;
}

.Feed {
  margin: 1em 0 2.6em;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

@media (max-width: 460px) {
  .Feed {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
  .Feed img {
    margin: 4px 0;
    width: 100%;
  }
}